<link href="../css/{{style}}/tickets/print5____versionStr__.css?ver=___versionStr__" type="text/css" rel="stylesheet">
<div class="shop-name">{{baseinfo.shopname}}</div>
<div class="orderinfo">
    <div class="topinfo">
        <div class="sepreat-line"></div>
        <p>台号: <span style="font-size: 30px">{{baseinfo.ordertable}}</span> </p>
        <p>账单: {{baseinfo.orderSn}}&emsp;&emsp;&emsp;&emsp;  人数:{{baseinfo.persons}}   </p>
        <p>日期: {{baseinfo.orderTime}}</p>
    </div>
</div>
<div class="sepreat-line"></div>
<table width="100%;" style="table-layout: fixed" class="menulist-table">
    <tr style="margin-bottom: 10px;display: none;">
        <td>品名</td>
        <td align="center" width="50px">数量</td>
        <td align="right" width="50px">金额&emsp;</td>
    <tr>
        {{each menuinfo.menuList as $value i}}
    <tr>
        <td>{{$value.name}}</td>
        <td align="center">{{$value.count}}</td>
        <td align="right">{{$value.total_price}}</td>
    </tr>
    {{/each}}
</table>
<div class="sepreat-line" style="float: right;width: 150px"></div>
<div class="clear"></div>
<div class="total-price" style="text-align: right">总金额：<span style="font-size: 30px">￥{{menuinfo.totalPrice}}.00</span></div>
<div class="double-line"></div>
<div class="clear"></div>
<div class="double-line"></div>
<div class="clear"></div>
<div class="total-price-show">现金：<span style="float: right;text-align: right">￥{{menuinfo.totalPrice}}.00</span></div>
<div class="tickets-tip">
    消费三月内凭小票到原店索取发票<br>
    Invoice Claimable Within 3 months
</div>
<div class="welcom-tip">欢迎再次光临！</div>
